<!DOCTYPY html>
<html>

<head>
  <title>@ViewData["Title"] - ERP</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="/assets/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/assets/css/admin.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/admin-responsive.css">
    <link href="/assets/fonts/remixicon.css" rel="stylesheet" />
    <!-- css -->

</head>

<body>
    <div class="container">
@RenderBody()
</div>
</body>

</html>