<aside>
    <nav>
        <a class="admin-logo" href=""><img src="/assets/img/admin-logo.jpg" /></a>
        <ul class="admin-nav">
            <li class="nav-active">
                <a href="" class="homepage">
                    <i class="ri-home-9-line"></i>
                    الرئيسية
                </a>
            </li>
            <li>
                <a role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="ri-spy-line"></i>
                    أنواع الاجازات
                    <span class="caret"></span>
                </a>
                <ul>
                    <li><a href="/vacationTypes/Create"><i class="fa fa-file-text" aria-hidden="true"></i> نوع جديد</a></li>
                    <li><a href="/vacationTypes/"><i class="fa fa-file-text" aria-hidden="true"></i>متابعة أنواع الاجازات</a></li>
                  
                </ul>
            </li>
            <li>
                <a role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="ri-spy-line"></i>
                    طلبات الأجازات
                    <span class="caret"></span>
                </a>
                <ul>
                    <li><a href="/VacationRequests"><i class="fa fa-file-text" aria-hidden="true"></i>جميع الطلبات</a></li>
                    <li><a href="/VacationRequests/MyVacations"><i class="fa fa-file-text" aria-hidden="true"></i> اجازاتى</a></li>
                    <li><a href="/VacationRequests/Regular"><i class="fa fa-file-text" aria-hidden="true"></i>طلب أجازة إعتيادية</a></li>
                    <li><a href="/VacationRequests/Illness"><i class="fa fa-file-text" aria-hidden="true"></i>طلب أجازة مرضية</a></li>
                    <li><a href="/VacationRequests/Accompanyingapatient"><i class="fa fa-file-text" aria-hidden="true"></i>طلب أجازة مرافقة مريض</a></li>

                    <li><a href="/VacationRequests/Death"><i class="fa fa-file-text" aria-hidden="true"></i>طلب أجازة وفاة</a></li>
                    <li><a href="/VacationRequests/Patriarchy"><i class="fa fa-file-text" aria-hidden="true"></i>طلب أجازة الأبوية</a></li>
                    
                    <li><a href=""><i class="fa fa-file-text" aria-hidden="true"></i>طلب تمديد الأجازة</a></li>
                    <li><a href=""><i class="fa fa-file-text" aria-hidden="true"></i>طلب إلغاء الأجازة</a></li>
                    <li><a href=""><i class="fa fa-file-text" aria-hidden="true"></i>طلب اضافة الأجازة</a></li>
                </ul>
            </li>
            <li>
                <a role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="ri-spy-line"></i>
                    الانتداب
                    <span class="caret"></span>
                </a>
                <ul>
                    <li><a href="/Mandates/Create"><i class="fa fa-file-text" aria-hidden="true"></i> طلب انتداب</a></li>
                    <li><a href="/Mandates/EndTask"><i class="fa fa-file-text" aria-hidden="true"></i> إنهاء مهمة انتداب</a></li>
                </ul>
            </li>
            <li><a class="link"><i class="ri-bank-line"></i>تعريف راتب</a></li>
            <li><a class="link"><i class="ri-ball-pen-line"></i>إفادة عمل</a></li>

        </ul>
    </nav>
</aside>